# -------- Environment --------
.env
.env.*

# -------- Virtual Environment --------
venv/

# -------- Python Cache --------
__pycache__/
*.pyc
*.pyogit 
*.pyd

# -------- Alembic --------
alembic/versions/__pycache__/
